body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

header{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    padding: 25px 0 ;
    background-color: #f2f2f2;
}

.flex-container{
    width: 90%;
    margin:0 auto;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    border: 1px dashed gray;
    justify-content: space-around;
}

.table-car{
    text-align: center;
    
}

.formulario{
    margin-bottom: 36px;
}

table tr td{
    padding: 10px;
}

.table-car-head{
    background-color: crimson;
    color: white;
    font-weight:bold;

    
}
.table-car-head td{
    padding: 10px;
    margin: 0;
  
}


.campos{
    display:block;
    margin:10px;
}

.campos label{
    display: inline-block;
    width: 60px;
    color: grey;
}


.delete{
    color: red;;
    font-weight: bold;
    border-radius: 5px;
}

.delete:hover{
    background-color: salmon;
    color: black;
}

.delete::before{
    content: 'X';
}

img{
    width:150px;
    height: auto;
}

